<form (ngSubmit)="onSubmit()" #form="ngForm" id="form">
    <p>Realize seu login com e-mail e senha: </p>
    <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" type="email" name="email" id="email" [(ngModel)]="login.email" size="30" required/>
    </div>

    <div class="form-group">
        <label>Senha</label>
        <input class="form-control" type="password" name="password" id="password" [(ngModel)]="login.password" size="30" required/>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Entrar</button>
</form>
